<template>
  <a>test</a>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      posts: [],
      errors: []
    }
  },

  created() {
    axios.get('http://localhost:8080/api/commande')
    .then(response => {
      window.console.log(response.data)
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<style>
</style>