<template>
  <v-form ref="form" lazy-validation>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      :rules="[pwdRules.required, pwdRules.min]"
      name="input-10-1"
      label="Normal with hint text"
      hint="At least 8 characters"
      counter
    ></v-text-field>

    <v-btn color="success" class="mr-4" @click="validate">
      Validate
    </v-btn>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    pwdRules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
      emailMatch: () => `The email and password you entered don't match`,
    },
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>

<style>
</style>