<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/commandes" class="nav-link">COMMANDES</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/add" class="nav-link">BONS LIVRAISONS</router-link>
        </li>
      </div>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>